<div class="top-contents-box">
　 <div class="ribbon1">Letter to ... 故人</div>
   <div class="form-box">
    <%= form_with(model: [@dead, @letter], local: true) do |f| %>
        
        <%= render 'shared/error_messages_letter' %>
        
        <%= f.label :name, "お名前" %>
        <%= f.text_field :name, class: 'form-control' %>
        
        <%= f.label :caption, "故人への手紙" %>
        <%= f.text_area :caption, class: 'form-control', :size => "100"  %>
        
        <%= f.label :limage, "故人のお写真（手紙に添えて掲載されます。）", id: "dimage-box" %>
        <%= f.attachment_field :limage %>
        
        <%= f.submit "故人へ手紙を出す", class: "btn" %>
    <% end %>
</div>
</div>